// These colors are specific to the theme. Do not use in a package!

@very-light-gray: hsl(222, 14%, 93%);
@light-gray: hsl(222, 7%, 60%);
@gray: hsl(222, 12%, 35%);
@dark-gray: hsl(222, 10%, 19%);
@very-dark-gray: hsl(222, 10%, 19%);

@cyan: hsl(180, 100%, 86%);
@blue: hsl(207, 100%, 86%);
@purple: hsl(278, 96%, 90%);
@green: hsl(112, 96%, 86%);
@red: hsl(1, 100%, 86%);
@orange: hsl(28, 100%, 86%);
@light-orange: hsl(49, 100%, 86%);
